html {
    margin:    0 auto;
    max-width: 750px;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
}

.monospace {
    font-family: ui-monospace, "Courier", monospace;
}