html {
    margin:    0 auto;
    max-width: 750px;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

.monospace {
    font-family: ui-monospace, "Courier", monospace;
}